*
{
	margin: 0;
	padding: 0;
}

.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%
    min-height: 80%;
	z-index: -1;	
}



.logo{
	margin: 10px 30px;
	height: 80px
}

.menu{
	float: right;
	list-style: none;
	margin: 40px;
	margin-left: auto;
}

.menu li{
	display: inline-block;
	margin: 10px 5px;
}

.menu li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	letter-spacing: 2px;
}

.menu li a:hover{
	background: #DB7093;
	border-bottom: 1px solid #DB7093;
	transition: .4s;
}

.msg{
	position: relative;
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #FFF5EE;
	top: 200px;	
}

.msg h1{
	font-size: 110px;
	margin: 25px;
}

.msg p{
	font-size: 25px;
	font-family: 'Dosis', sans-serif; 
}
.button {
  border-radius: 20px;
  background-color: #DB7093;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.content{
	padding-top: 500px;
	padding-bottom: 50px;
	text-align: center;
	
}
.title-style h1{
	padding: 30px 0;
}
.title-style{
	margin:0 auto 40px;
	height: 120px;
	width: 600px;
	background: #fff;
	position: relative;
	box-shadow: 0 4px 5px rgba(0,0,50,0.5)
}
.title-style:after{
	content: '';
	height: 100px;
	width: 150px;
	background: #f992a6;
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: -1
}

.title-style:before{
	content: '';
	height: 100px;
	width: 150px;
	background: #f992a6;
	position: absolute;
	bottom: -10px;
	right: -10px;
	z-index: -1
}

.services-box img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.services-box img:hover{
	transform: scale(1.1);
}
.box{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 90%;
  padding: 20px;
  border-radius:10px; 
  }
.introduce{
	padding-top:50px;		
}


.button2 {
  border-radius: 10px;
  background-color: #1E90FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 3px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.end{
	padding-top: 100px;
}
.footer{
	left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFE4E1;
  color: #808080;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.icon-bar a {
  
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: 30px;
  border-radius: 500px;
  margin: 10px 3px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  opacity: 0.7;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}